@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --sidebar-width: 280px;
    --close-sidebar-width: 72px;
}

body{
    @apply font-body-font-family text-body-color;
}

.slice-list:hover .next-btn,
.slice-list:hover .prev-btn{
    @apply opacity-100;
}

.swiper-pagination-bullet{
    border-radius: 1px;
    @apply w-6 h-1;
    
}

.swiper-pagination-bullet-active{
    @apply bg-primary;
}


.volume-slice::-webkit-slider-thumb{
    @apply appearance-none w-3 h-3 rounded-full bg-dark;
}


.volume-slice::-moz-range-thumb {
    border: none; 
    @apply w-3  h-3 rounded-full bg-dark appearance-none;
}

