@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --sidebar-width: 280px;
    --close-sidebar-width: 72px;
}

body{
    @apply font-body-font-family text-body-color;
}

.slice-list:hover .next-btn,
.slice-list:hover .prev-btn{
    @apply opacity-100;
}

.swiper-pagination-bullet{
    border-radius: 1px;
    @apply w-6 h-1;
    
}

.swiper-pagination-bullet-active{
    @apply bg-primary;
}